/* src/components/Home.css */
.dashboard-container {
  display: flex;
}

.left-panel, .right-panel {
  width: 20%;
  padding: 20px;
  background-color: #f0f0f0;
  position: fixed;
  height: 100vh;
  overflow-y: auto;
}

.left-panel {
  left: 0;
}

.right-panel {
  right: 0;
}

.main-content {
  width: 60%;
  margin: 0 20%;
  padding: 20px;
  background-color: #fff;
}

.profile-card, .activity-card, .challenges-section, .clubs-section, .friends-section {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.profile-img-container {
  width: 80px; /* Adjust width as needed */
  height: 80px; /* Adjust height as needed */
  margin: 0 auto 10px; /* Center the image container and add margin */
  overflow: hidden;
  border-radius: 50%;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.activity-images img {
  width: 100px;
  margin-right: 10px;
}

.friend-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
}
